services:
  api:
    container_name: easykam-api
    build:
      context: ./fastapi          # ✅ 루트(.) 말고 fastapi 폴더를 컨텍스트로
      dockerfile: Dockerfile
    restart: always
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      - TZ=Asia/Seoul
    env_file:
      - .env

  web:
    container_name: easykam-web
    build:
      context: ./front/easykam
      dockerfile: Dockerfile
    restart: always
    ports:
      - "127.0.0.1:8081:80"
    environment:
      - TZ=Asia/Seoul
    depends_on:
      - api
